<div class="container-fluid mt-1 p-3">

    <div class="d-flex justify-content-between bd-highlight">
        <div class="p-1 ms-3  border bd-highlight logo">Clear Trip</div>
        <div class="p-1 ms-5 bd-highlight">
            <button type="button" class="btn btn-primary">Login/SignUp</button>
        </div>
    </div>
</div>

<div class="container w-75 p-2 shadow">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
         
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100 d-flex justify-content-between">
              <li class="nav-item">
                <a class="nav-link active d-flex flex-column" aria-current="page" routerLink="/flights" routerLinkActive="active">
                    <img src="https://t4.ftcdn.net/jpg/01/87/05/05/360_F_187050557_gxUWkcep9srg5V35OVilv8rxprEXxsBT.jpg" alt="image is loading please wait" width="50" height="50">
                    <span>Flights</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex flex-column" routerLink="/hotels" routerLinkActive="active" >
                    <img src="https://st5.depositphotos.com/27657544/66073/v/450/depositphotos_660736248-stock-illustration-beautifully-designed-icon-hotel-modern.jpg" alt="image loading please wait" width="50" height="50">
                    <span>Hotels</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex flex-column" routerLinkActive="active">
                    <img src="https://img.lovepik.com/free-png/20210923/lovepik-cartoon-villa-vector-material-png-image_401264517_wh1200.png" alt="image loading please wait" width="50" height="50">
                    <span>Homestays & Villas</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex flex-column"  routerLinkActive="active">
                    <img src="https://cdn-icons-png.freepik.com/512/5333/5333434.png" alt="image loading please wait" width="50" height="50">
                    <span>Holiday Packages</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex flex-column" routerLinkActive="active">
                    <img src="https://p7.hiclipart.com/preview/681/863/666/train-drawing-thomas-painting-coloring-book-train.jpg" alt="image loading please wait" width="50" height="50">
                    <span>Trains</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex flex-column" routerLinkActive="active">
                    <img src="https://classroomclipart.com/images/gallery/Clipart/Transportation/Bus/city-bus-black-outline-clipart.jpg" alt="image loading please wait" width="50" height="50">
                    <span>Buses</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex flex-column" routerLinkActive="active">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzPoCQRsu5gw8gCaAPJK6qd-oxa1uV-ByhQQ&s" alt="image loading please wait" width="50" height="50">
                    <span>Cab</span>
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link  d-flex flex-column" routerLinkActive="active">
                    <img src="https://cdn-icons-png.freepik.com/512/5562/5562327.png" alt="Image loading please wait" width="50" height="50">
                    <span>Travel Inssurance</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>